<form [formGroup]="formFiltro" novalidate="novalidate" class="card p-2 mb-4">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-xl-3">
            <div class="form-group">
                <label>Ciudad</label>
                <select class="form-control" formControlName="ciudad">
                    <option value="Medellin">Medellin</option>
                    <option value="Bogota">Bogota</option>
                    <option value="Villavicencio">Villavicencio</option>
                    <option value="Cartagena">Cartagena</option>
                </select>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xl-3">
            <div class="form-group">
                <label>Cantidad persona</label>
                <input type="text" class="form-control" formControlName="cantidadPersona">
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xl-3">
            <div class="form-group">
                <label>Fecha entrada </label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="fechaEntrada" 
                        ngbDatepicker 
                        #fechaEntrada="ngbDatepicker" 
                        formControlName="fechaEntrada">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="fechaEntrada.toggle()"
                            type="button"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xl-3">
            <div class="form-group">
                <label>Fecha salida </label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="fechaSalida" 
                        ngbDatepicker #fechaSalida="ngbDatepicker" formControlName="fechaSalida">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="fechaSalida.toggle()"
                            type="button"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-sm btn-primary float-right" (click)="buscarReserva()" >Buscar</button>
    </div>
</form>